%div.w-full.max-w-xs
  = form_with @user, url: sign_up_path, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |f|
    %div.mb-4
      = f.label :name, class: "block text-gray-700 text-sm font-bold mb-2"
      = f.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    %div.mb-6
      = f.label :username, class: "block text-gray-700 text-sm font-bold mb-2"
      = f.text_field :username, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    %div.mb-6
      = f.label :email, class: "block text-gray-700 text-sm font-bold mb-2"
      = f.text_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    %div.mb-6
      = f.label :password, class: "block text-gray-700 text-sm font-bold mb-2"
      = f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    %div.mb-6
      = f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2"
      = f.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
  %div.flex.items-center.justify-between
    = f.submit "Sign Up", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
  %p.text-center.text-gray-500.text-xs amp