%div.pt-4{data: {controller: "song", "song-id-value": "#{song.id}", "song-path-value": "#{song.file_path}", "song-playback-url-value": "#{Rails.application.credentials.dig(:cloudflare, :amp_songs_endpoint)}", "song_hide_class": "hidden"}}
  %div.pl-8.flex.items-center{data: {action: "click->song#load"}}
    %div{data: {"song_target": "play"}}
      = material_icon.shape(:play_circle).md_48.style('color: #60A5FA')
    %div.hidden{data: {"song_target": "pause"}}
      = material_icon.shape(:pause_circle).md_48.style('color: #60A5FA')
    %div.pl-4 #{song.name}
